aiohttp==3.8.1
aiosignal==1.2.0
apptools==5.1.0
async-timeout==4.0.2
certifi @ file:///croot/certifi_1671487769961/work/certifi
charset-normalizer==2.1.0
click==8.1.3
cycler==0.11.0
envisage==6.0.1
Flask==2.2.2
fonttools==4.33.3
frozenlist==1.3.0
graphviz==0.20.1
importlib-metadata==6.0.0
importlib-resources==5.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.3
MarkupSafe==2.1.2
matplotlib==3.5.2
mayavi==4.7.4
multidict==6.0.2
networkx==2.8.8
newick==1.6.0
numpy==1.22.4
packaging==21.3
Pillow==9.1.1
pydot==1.4.2
pyface==7.4.1
Pygments==2.12.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
traits==6.3.2
traitsui==7.3.1
utils==1.0.1
vtk==9.1.0
Werkzeug==2.2.2
wslink==1.6.5
yarl==1.7.2
zipp==3.8.0
