/* Default style sheet for VECTr */

* {
    box-sizing:border-box
}
html{
    min-width: 100%;
    background-size: contain;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #2C7A7A;
    margin: 0;
}
select, input{
    font-family: 'Poppins', sans-serif;
    background-color:#2C7A7A;
    color: #F5F5F5;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
}
p{
    margin-left: 30px;
    font-size: 10pt;
}
option{
    font-family: 'Poppins', sans-serif;
    background-color:#2C7A7A;
    color: #F5F5F5;
    
}
h4{
    margin: 15px;
    font-size: large;
}
h2{
    margin: 5px;
}
.navbar{
    display: flex;
    background-color: #2C7A7A;
    padding:1px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
}
#info-link{
    margin-right: 10%;
}
.navbar h1{
    margin: 15px;
    margin-right: 0;
    position: center;
    width: auto;
    font-size: 50px;
    justify-content: center;
    font-family: 'Poppins';
    color: white;
}
#how-to {
    margin-left: 30%;
    margin-right: 0;
    color: #2C7A7A;
}
.navbar button {
    padding-bottom: 2px;
    width: 90px;
    height: 90px;
    background-color: #2C7A7A;
    border: #F5F5F5;
    appearance: none;
    margin: 10px;
    margin-bottom: 5px;
    margin-right: 25%; 
}
.navbar a {
    margin-right: 25%; 
}
#cell{
    width: 70px;
    height: 70px;
    padding: 5px;
    border: 2px solid #F5F5F5;
    margin: 0;
}
#sidebar{
    background-color: #D9DEDE;
    vertical-align: top;
    width: 25%;
    height:100%;
}
#topbox{
    background-color: #D9DEDE;
}
#bottombox{
    background-color: #D9DEDE;
}
.container{
    display:table;
    width: 100%;
}
.child{
    display: table-cell;
}
#main{
    padding: 20px;
    background-color: #F5F5F5;
    overflow-y: scroll;
}
.input-collapse, .info-collapse {
    display: table;
    width: 50%;
    cursor: pointer;
}
.info-collapse {
    width: 100%;
    border-top: 1px solid #999;
    background-color: rgb(60, 70, 73);
    margin-bottom: 0;
    display: inline-block;
}
#input-sub {
    margin-left: 30px;
}
.collapse {
    display: table-cell;
    margin-left: 35px;
    font-size: 25px;
}
#input-box-toggle {
    padding-left: 100%;
    cursor: pointer;
}
.box{
    float:left;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
}
.VE{
    background-color: #2C7A7A;
    color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 8px;

    margin-right: 20px;
}
.top-buttons {
    display: flex;
}
#distance-buttons, #viz1, #viz2, #viz3, #viz4 {
    display: none;
}
.view {
    flex: 1;
}
#top-measures {
    display: table;
    margin-bottom: 2%;
}
#bottom-measures {
    display: table;
}
.dview {
    display: table-cell;
}
.visualizations-container {
    display: flex;
    justify-content: center;
}
.visualizations-container > div {
    flex: 1;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
#tree1_visualization {
    margin-right: 20px
}
button{
    font-family: 'Poppins', sans-serif;
    background-color:#2C7A7A;
    color: #F5F5F5;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
}
#tree1-mutations, #tree2-mutations, #shared-mutations {
    word-wrap: break-word;
    margin: 0;
}
#tree-label-info-container {
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
}
.tree-label-info {
    flex: 1;
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
}
.tree-label-info > h3{
    background-color: #2C7A7A;
    color: #F5F5F5;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}
.download:active{
    background-color: #D9DEDE;
    color: black;
}
#file1, #file2{
    margin: 25px;
}
#submit-trees-btn{
    margin-left: 30px;
    margin-bottom: 10px;
    background-color:#2C7A7A;
}
#submit-trees-btn:active{
    background-color: #D9DEDE;
    margin-top: 3px;
    color: black;
}
.indent{
    margin: 25px;
    margin-right: 5px;
}
#metric_drp{
    margin: 15px;
    margin-top: 30px;
}
#distance_metric{
    padding: 7px;
}
.text-box{
    margin: 25px;
    margin-top: 15px;
    margin-bottom: 2px;
}
#file2, #file1{
    margin-left: 30px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  padding: 0%;
  margin: 0%;
}
.custom-file-input::before {
  content: 'Choose File';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 1px;
  padding: 5px;
  white-space: wrap;
  -webkit-user-select: none;
  cursor: default;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  border-radius: 8px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.hover-label {
  position: absolute;
  width: 50px;
  height: 10px;
}

.hover-label:hover {
  cursor: pointer;
}

.legend-container {
    display: block;
    margin: auto;
    margin-top: 10px;
}
#scale1, #scale2, #scale3, #scale4{
    display: none;
    margin: 10px;
}
.legend {
    height: 30px;
    width: 400px;
    border: 1px solid black;
    background-image: linear-gradient(to right, #f0f172, #80bda5, #4180a9, #00429d);
    margin: auto;
}
.legend-labels-container {
    width: 400px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin: auto;
}
#distance-measure-label {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  height: 20px;
  margin-top: 30px;
  width: 400px;
  padding: 20px;
}
.label {
    width: 10px;
    height: 20px;
    font-size: 15px;
}
#text_box1, #text_box2 {
    display: none;
}
.toggle_button button{
    font-family: 'Poppins', sans-serif;
    background-color:#2C7A7A;
    color: #F5F5F5;
    border-radius: 8px;
    padding: 7px;
    margin-left: 30px;
}
.toggle_button button:active{
    background-color: #D9DEDE;
    margin-top: 3px;
    color: black;
}
#toggle2 {
    margin-bottom: 10px;
}
#single {
    background-color:#2C7A7A50;
    color: black;
}
#summary-statistics-table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 5%;
  background-color: #F5F5F5;
}
#summary-statistics-table th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}
#summary-statistics-table td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
#table-name > th{
  text-align: center;
}
.hidden_label {
    display: none;
    width: 40%;
    border: 2px solid black;
    text-align: center;
    background-color: #D9DEDE;
}
.info-label {
    margin-left: 1%;
}

/* Styling for information page */
.collapsible {
    background-color: #D9DEDE;
    height: auto;
    margin-top: 0;
    display: inline-block;
    font-size: 15pt;
}
.collapsible > div > p{
    font-size: 12pt;;
}
.img-examples {
    width: 40%;
    height: auto;
    margin-left: 30%;
    border: 1px solid rgb(60, 70, 73);
    border-radius: 10px;
}
.collapsible > p{ 
    font-size: 12pt;;
}
.info-headings {
    color:#f9f9f9;
}
#example_svg {
    align-items: center;
}
#example_svg > img{
    width: 450px;
    height: 450px;
    background-color: #F5F5F5;
    border: 1px solid rgb(60, 70, 73);
    margin-top: 1%;
    margin-right: 2%;
    border-radius: 10px;
}
#left-example {
    margin-left: 22%;
}
.formulas {
    margin-left: 2%;
    border: 1px solid rgb(60, 70, 73);
    width: 25%;
    height: auto;
}
figcaption {
    font-size: 10pt;
    align-items: center;
    width: 80%;
    margin-left: 15%;
}