<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <title>CS 257: Software Design</title>
</head>

<body>
    <h3>Tiny Web App Home Page</h3>

    <p><button id="cats_button">Cats</button></p>
    <p><button id="dogs_button">Dogs</button></p>

    <ul id="animal_list"></ul>

    <p><button id="dot_file_button">Send Dot File</button> <input type="text" id="dot_file_input" size="20"> (try "test-tree.dot")</p>

    <div>
        <div id="cycle_img"><img src="{{ url_for('static', filename='static-img/blank.jpg') }}" alt="nothing yet"></div>
        <p id="cycle_text"> Give me a file </p>
    </div>

    <h3>One other page</h3>
    <p>You can go to <a href="other.html">this other page</a>.</p>
</body>
</html>
