<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dual_tree.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-drag@3"></script>
        <title>TreeVizTitle</title>
    </head>
    <body>
        <div class="navbar">
            <button><img id="cell" src="{{ url_for('static', filename='cells_img.png') }}"></button>
            <h1>Tumor Tree Visualization</h1>
        </div>
        <div class="container">
            <div class="child" id="sidebar">
                <div id="topbox">
                    <h2>Distance Metric<h2>
                    <div class="dropdown"> 
                        <label id="metric_drp" for="distance_metric"></label>
                        <select name="distance_metric" id="distance_metric"> 
                            <!--option value="" selected disabled hidden>Select Metric</option-->
                            <option value="ancestor_descendant_distance">Ancestor-Descendant</option>
                            <option value="parent_child_distance" selected>Parent-Child</option>
                            <option value="caset_distance">CASet</option>
                            <option value="disc_distance">DISC</option>
                        </select>
                    </div>
                </div>
                <hr size="2" noshade="", width="350px">
                <div id="bottombox">
                    <div class="dropdown"> 
                        <h4>Input Tree 1</h4>
                        <label class="indent" for="input1"></label>
                        <select name="input1" id="input-type-tree1"> 
                            <option value="" selected disabled hidden>Select Input Format</option>
                            <option value="dot">DOT</option>
                            <option value="newick">tree1-textNewick</option>
                            <option value="bourque">Bourque</option>
                            <option value="mlted">MLTED</option>
                        </select>
                    </div>
                    <label for="file1"></label>
                    <input class="custom-file-input" type="file" id="file1" name="file1">
                    <div class="toggle_button">
                        <button onclick="myFunction1()" id="toggle1">Modify Tree Manually</button>
                    </div>
                    <script>
                        function myFunction1() {
                          var x = document.getElementById("text_box1");
                          if (x.style.display === "none") {
                            x.style.display = "inline-block";
                          } else {
                            x.style.display = "none";
                          }
                        }
                    </script>
                    <div id="text_box1">
                    <textarea class="text-box" id="tree1-text" name="" cols="30" rows="10">digraph Tree {
    1 [label="P, T, S, J, C, A"];
    2 [label="E, N2, AR, MA"];
    3 [label="NT, AF"];
    4 [label="CH"];
    5 [label="E1, N3"];
    6 [label="CX"];
    7 [label="TN"];
    8 [label="PP, SY"];
    9 [label="AU"];
    10 [label="TG"];
    1 -> 2;
    2 -> 3;
    2 -> 4;
    3 -> 5;
    5 -> 8;
    5 -> 7;
    5 -> 6;
    7 -> 9;
    4 -> 10;
}</textarea></div>
                    <div class="dropdown"> 
                        <h4>Input Tree 2</h4>
                        <label class="indent" for="input2"></label>
                        <select name="input2" id="input-type-tree2"> 
                            <option value="" selected disabled hidden>Select Input Format</option>
                            <option value="dot">DOT</option>
                            <option value="newick">Newick</option>
                            <option value="bourque">Bourque</option>
                            <option value="mlted">MLTED</option>
                        </select>
                    </div>    
                    <label for="file2"></label>
                    <input class="custom-file-input" type="file" id="file2" name="file2">
                    <div class="toggle_button">
                        <button onclick="myFunction2()" id="toggle2">Modify Tree Manually</button>
                    </div>
                    <script>
                        function myFunction2() {
                          var x = document.getElementById("text_box2");
                          if (x.style.display === "none") {
                            x.style.display = "inline-block";
                          } else {
                            x.style.display = "none";
                          }
                        }
                    </script>
                    <div id="text_box2">
                    <textarea class="text-box" id="tree2-text" name="" cols="30" rows="10">digraph Tree {
    1 [label="P, T, J, C, A"];
    2 [label="E, N2, AR, N3"];
    3 [label="NT, AF, MA"];
    4 [label="CH, S"];
    5 [label="E1"];
    6 [label="CX"];
    7 [label="TN"];
    8 [label="PP, SY"];
    9 [label="AU"];
    10 [label="TG"];
    1 -> 2;
    2 -> 3;
    3 -> 4;
    3 -> 5;
    5 -> 8;
    3 -> 7;
    5 -> 6;
    8 -> 9;
    4 -> 10;
}</textarea>    </div>
                </div>
                <input id="submit-trees-btn" type="submit">
            </div>
            <div class="child" id="main">
                <div id="visualizations-container">
                    <div id="tree1_visualization">
                            <svg id="svg1" width="600" height="600"> 
                            <g transform="translate(5,50)">
                                <g class="links"></g>
                                <g class="nodes"></g>
                            </g>
                            </svg>
                    </div>
                    <div id="tree2_visualization">
                        <svg id="svg2" width="600" height="600"> 
                        <g transform="translate(5,50)">
                            <g class="links"></g>
                            <g class="nodes"></g>
                        </g>
                        </svg>
                    </div>
                </div>
  <div id="legend-container">
    <div id="distance-measure-label"></div>
    <div id="legend"></div>
    <div id="legend-labels-container">
      <div class="label" id="colorLabel1">1</div>
      <div class="label", id="colorLabel2">2</div>
      <div class="label", Id="colorLabel3">3</div>
      <div class="label", id="colorLabel4">4</div>
    </div>
  </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='dual_tree.js') }}"></script>
</html>
