<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dual_tree.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/d3-drag@3"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <title>VECTr</title>
    </head>
    <body>
        <div class="navbar">
            <button><img id="cell" src="{{ url_for('static', filename='cells_img.png') }}"></button>
            <h1>Clonal Tree Visualization</h1>
        </div>
        <div class="container">
            <div class="child" id="sidebar">
                <h2>Distance Metric</h2>
                <div id="topbox">
                    <div class="top-buttons">
                        <div class="toggle_button view">
                            <button onclick="singleView()" id="single">Single View</button>
                        </div>
                        <div class="toggle_button view">
                            <button onclick="multiView()" id="multiple">Multi View</button>
                        </div>
                    </div>
                    <div class="dropdown distance-measure" id="distance-dropdown"> 
                        <p> </p>
                        <label id="metric_drp" for="distance_metric"></label>
                        <select name="distance_metric" id="distance_metric" onclick="submit_tree()">
                            <option value="ancestor_descendant_distance">Ancestor-Descendant</option>
                            <option value="parent_child_distance" selected>Parent-Child</option>
                            <option value="caset_distance">CASet</option>
                            <option value="disc_distance">DISC</option>
                        </select>
                    </div>
                    <div id="distance-buttons">
                        <p> </p>
                        <div id="top-measures">
                            <div class="toggle_button dview">
                                <button onclick="vizbox('viz1', 'scale1', 'pc-view', 'pc-label'); submit_mult_tree('parent_child_distance', '#viz1_svg1', '#viz1_svg2', 'scale1');" id="pc-view">Parent-Child</button>
                            </div>
                            <div class="toggle_button dview">
                                <button onclick="vizbox('viz2', 'scale2', 'ad-view', 'ad-label'); submit_mult_tree('ancestor_descendant_distance', '#viz2_svg1', '#viz2_svg2', 'scale2');" id="ad-view">Ancestor-Descendant</button>
                            </div>
                        </div>
                        <div id="bottom-measures">
                            <div class="toggle_button dview">
                                <button onclick="vizbox('viz3', 'scale3', 'caset-view', 'caset-label'); submit_mult_tree('caset_distance', '#viz3_svg1', '#viz3_svg2', 'scale3');" id="caset-view">CASet</button>
                            </div>
                            <div class="toggle_button dview">
                                <button onclick="vizbox('viz4', 'scale4', 'disc-view', 'disc-label'); submit_mult_tree('disc_distance', '#viz4_svg1', '#viz4_svg2', 'scale4');" id="disc-view">DISC</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr size="2" noshade="", width="auto">
                
                <div class="input-collapse">
                        <h2>Input</h2>
                        <p class="collapse" id="input-box-toggle" onclick="toggleVisible('bottombox')">-</p>
                </div>
                <div class="bottombox" id="bottombox">
                    <div class="dropdown"> 
                        <h4>Input Tree 1</h4>
                        <label class="indent" for="input1">Select file format</label>
                        <select name="input1" id="input-type-tree1">
                            <option value="dot" selected>DOT</option>
                            <option value="newick">Newick</option>
                            <option value="bourque">Bourque</option>
                            <option value="mlted">MLTED</option>
                        </select>
                    </div>
                    <label for="file1"></label>
                    <input class="custom-file-input" type="file" id="file1" name="file1">
                    <div class="toggle_button">
                        <button onclick="toggle('text_box1')" id="toggle1">Modify Tree Manually</button>
                    </div>
                    <div id="text_box1">
                    <textarea class="text-box" id="tree1-text" name="" cols="30" rows="10">digraph Tree {
    1 [label="P, T, S, J, C, A"];
    2 [label="E, N2, AR, MA"];
    3 [label="NT, AF"];
    4 [label="CH"];
    5 [label="E1, N3"];
    6 [label="CX"];
    7 [label="TN"];
    8 [label="PP, SY"];
    9 [label="AU"];
    10 [label="TG"];
    1 -> 2;
    2 -> 3;
    2 -> 4;
    3 -> 5;
    5 -> 8;
    5 -> 7;
    5 -> 6;
    7 -> 9;
    4 -> 10;
}</textarea></div>
                    <div class="dropdown"> 
                        <h4>Input Tree 2</h4>
                        <label class="indent" for="input2">Select file format</label>
                        <select name="input2" id="input-type-tree2"> 
                            <option value="dot" selected>DOT</option>
                            <option value="newick">Newick</option>
                            <option value="bourque">Bourque</option>
                            <option value="mlted">MLTED</option>
                        </select>
                    </div>    
                    <label for="file2"></label>
                    <input class="custom-file-input" type="file" id="file2" name="file2">
                    <div class="toggle_button">
                        <button onclick="toggle('text_box2')" id="toggle2">Modify Tree Manually</button>
                    </div>
                    <div id="text_box2">
                    <textarea class="text-box" id="tree2-text" name="" cols="30" rows="10">digraph Tree {
    1 [label="P, T, J, C, A"];
    2 [label="E, N2, AR, N3"];
    3 [label="NT, AF, MA"];
    4 [label="CH, S"];
    5 [label="E1"];
    6 [label="CX"];
    7 [label="TN"];
    8 [label="PP, SY"];
    9 [label="AU"];
    10 [label="TG"];
    1 -> 2;
    2 -> 3;
    3 -> 4;
    3 -> 5;
    5 -> 8;
    3 -> 7;
    5 -> 6;
    8 -> 9;
    4 -> 10;
}</textarea>    </div> 
                <input id="submit-trees-btn" type="submit" value="Save">
                </div>
                <hr size="2" noshade="", width="auto">
                <table id="summary-statistics-table">
                    <tr id="table-name">
                        <th colspan="3">Summary Statistics</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Tree 1</th>
                        <th>Tree 2</th>
                    </tr>
                    <tr>
                        <th>Branching Factor</th>
                        <td id="t1-branching-factor"></td>
                        <td id="t2-branching-factor"></td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td id="t1-height"></td>
                        <td id="t2-height"></td>
                    </tr>
                    <tr>
                        <th>Number nodes</th>
                        <td id="t1-number-nodes"></td>
                        <td id="t2-number-nodes"></td>
                    </tr>
                    <tr>
                        <th>Number mutations</th>
                        <td id="t1-number-mutations"></td>
                        <td id="t2-number-mutations"></td>
                    </tr>
                    <tr>
                        <th>Top 5 Contributions</th>
                        <th id="t1_top5_summary_element"></th>
                        <th id="t2_top5_summary_element"></th>
                    </tr>
                </table>
            </div>
            <div class="child" id="main">
                <div id="tree-label-info-container">
                    <div class="tree-label-info"><h3>Distinct Tree 1 Mutations</h3><p id="tree1-mutations"></p></div>
                    <div class="tree-label-info"><h3>Shared Tree Mutations</h3><p id="shared-mutations"></p></div>
                    <div class="tree-label-info"><h3>Distinct Tree 2 Mutations</h3><p id="tree2-mutations"></p></div>
                </div>
                <div class="visualizations-container" id="anyviz">
                    <div id="tree1_visualization">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg1" viewBox="0 0 550 550" width="100%" height="auto"> 
                            <g id="tree1_visualization_group" transform="translate(270,50)">
                                <g class="links"></g>
                                <g class="nodes"></g>
                            </g>
                            </svg>
                            <button class="download" id="downloadSVG1" onclick="downloadSVG('#svg1')">Download Tree 1</button>
                    </div>
                    <div id="tree2_visualization">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg2" viewBox="0 0 550 550" width="100%" height="auto"> 
                        <g id="tree1_visualization_group" transform="translate(270,50)">
                            <g class="links"></g>
                            <g class="nodes"></g>
                        </g>
                        </svg>
                        <button class="download" id="downloadSVG2" onclick="downloadSVG('#svg2')">Download Tree 2</button>
                    </div>
                </div>
                <div class="legend-container" id="anyscale">
                    <div id="distance-measure-label"></div>
                    <div class="legend"></div>
                    <div class="legend-labels-container">
                    <div class="label", id="colorLabel1">1</div>
                    <div class="label", id="colorLabel2">2</div>
                    <div class="label", Id="colorLabel3">3</div>
                    <div class="label", id="colorLabel4">4</div>
                    </div>
                </div>
                <h3 class="hidden_label" id="pc-label">Parent-Child Visualization</h3>
                <div class="visualizations-container" id="viz1">
                    <div id="tree1_visualization">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz1_svg1"> 
                            <g transform="translate(270,50)">
                                <g class="links"></g>
                                <g class="nodes"></g>
                            </g>
                            </svg>
                    </div>
                    <div id="tree2_visualization">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz1_svg2"> 
                        <g transform="translate(270,50)">
                            <g class="links"></g>
                            <g class="nodes"></g>
                        </g>
                        </svg>
                    </div>
                </div>
                <div class="legend-container" id="scale1">
                    <div class="legend"></div>
                    <div class="legend-labels-container">
                    <div class="label", id="scale1_colorLabel1">1</div>
                    <div class="label", id="scale1_colorLabel2">2</div>
                    <div class="label", Id="scale1_colorLabel3">3</div>
                    <div class="label", id="scale1_colorLabel4">4</div>
                    </div>
                </div>
                <h3 class="hidden_label" id="ad-label">Ancestor-Descendant Visualization</h3>
                <div class="visualizations-container" id="viz2">
                    <div id="tree1_visualization">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz2_svg1"> 
                            <g transform="translate(270,50)">
                                <g class="links"></g>
                                <g class="nodes"></g>
                            </g>
                            </svg>
                    </div>
                    <div id="tree2_visualization">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz2_svg2"> 
                        <g transform="translate(270,50)">
                            <g class="links"></g>
                            <g class="nodes"></g>
                        </g>
                        </svg>
                    </div>
                </div>
                <div class="legend-container" id="scale2">
                    <div class="legend"></div>
                    <div class="legend-labels-container">
                    <div class="label", id="scale2_colorLabel1">1</div>
                    <div class="label", id="scale2_colorLabel2">2</div>
                    <div class="label", Id="scale2_colorLabel3">3</div>
                    <div class="label", id="scale2_colorLabel4">4</div>
                    </div>
                </div>
                <h3 class="hidden_label" id="caset-label">CASet Visualization</h3>
                <div class="visualizations-container" id="viz3">
                    <div id="tree1_visualization">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz3_svg1"> 
                            <g transform="translate(270,50)">
                                <g class="links"></g>
                                <g class="nodes"></g>
                            </g>
                            </svg>
                    </div>
                    <div id="tree2_visualization">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz3_svg2"> 
                        <g transform="translate(270,50)">
                            <g class="links"></g>
                            <g class="nodes"></g>
                        </g>
                        </svg>
                    </div>
                </div>
                <div class="legend-container" id="scale3">
                    <div class="legend"></div>
                    <div class="legend-labels-container">
                    <div class="label", id="scale3_colorLabel1">1</div>
                    <div class="label", id="scale3_colorLabel2">2</div>
                    <div class="label", Id="scale3_colorLabel3">3</div>
                    <div class="label", id="scale3_colorLabel4">4</div>
                    </div>
                </div>
                <h3 class="hidden_label" id="disc-label">DISC Visualization</h3>
                <div class="visualizations-container" id="viz4">
                    <div id="tree1_visualization">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz4_svg1"> 
                            <g transform="translate(270,50)">
                                <g class="links"></g>
                                <g class="nodes"></g>
                            </g>
                            </svg>
                    </div>
                    <div id="tree2_visualization">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 550 550" width="100%" height="auto" id="viz4_svg2"> 
                        <g transform="translate(270,50)">
                            <g class="links"></g>
                            <g class="nodes"></g>
                        </g>
                        </svg>
                    </div>
                </div>
                <div class="legend-container4" id="scale4">
                    <div class="legend"></div>
                    <div class="legend-labels-container">
                    <div class="label", id="scale4_colorLabel1">1</div>
                    <div class="label", id="scale4_colorLabel2">2</div>
                    <div class="label", Id="scale4_colorLabel3">3</div>
                    <div class="label", id="scale4_colorLabel4">4</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='dual_tree.js') }}"></script>
</html>